<!-- This view lets the user initiate a rainbow wave, changing background colors periodically -->
<script type="text/javascript">
  Rainbow = {}

  /* periodically poll backend for new colors => set background */
  Rainbow.refresh = function() {
    $.getJSON("/colors/sample.json", function(data) {
      r = data.background_color_r || 255
      g = data.background_color_g || 255
      b = data.background_color_b || 255
      $("body").css('background-color', "rgb("+r+","+g+","+b+")");
    });
  }

  Rainbow.init = function() {
    setInterval(Rainbow.refresh, 3000);
  }

  /* init => begin polling on button click */
  $(document).ready(function() {
    $("#rideBtn").click( function() { 
      Rainbow.init(); 
      Rainbow.refresh(); /* immediately ride the wave for better user engagement */
    } );
  });
</script>

<h1>Welcome to the Rainbow Collective!</h1>

<button id="rideBtn" type="button">Ride the wave</button>

